/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2019, 19:16:08
    Author     : J. Carlos F. Vico <jcarlosvico@maralboran.es>
*/
body{
    background-color: #00ffcc;
}
